@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stint+Ultra+Condensed&display=swap');

*{
  margin: 0;
  padding: 0;
}

body{
  background: linear-gradient(#0F0E0E, #000000);
}

.header{
  width: 100%;
  min-height: 100vh;
  background-image: url(../assets/gambar/Background.jpg);
  background-position: center;
  background-size: cover;
}

.title{
  display: block;
  text-align: center;
  padding: 165px;
}

.title a{
  color: #fd9852;
  font-size: 100px;
  font-family: 'Satisfy', cursive;
  font-weight: 700;
  text-shadow: 4px 4px #000000;
  letter-spacing: 6px;
  font-style: italic;
  text-decoration: none;
}

.title a:hover{
  color: wheat;
}

.title p{
  color: white;
  font-family:cursive;
}

#searchForm .form-control{
  border: 0;
  background:none;
  display: block;
  margin: 30px auto;
  text-align: center;
  border: 2px solid #c32e2e;
  padding: 14px 10px;
  width: 700px;
  outline: none;
  color: white;
  border-radius: 20px;
  transition: 0.25s;
}

#searchForm .form-control:focus{
  width: 800px ;
  border-color: #d09517;
}